@page
@model Canban.Pages.Buckets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfBucket[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfBucket[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfBucket[0].workGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypesOfBucket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workGroup.WorkGroupID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TypeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
