@page
@model Canban.Pages.WorkTasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTask.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTask.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTask.TaskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTask.TaskDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTask.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTask.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTask.workGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkTask.workGroup.WorkGroupID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkTask.TaskID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
