@page
@model Canban.Pages.WorkTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkTask[0].TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTask[0].until)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTask[0].TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTask[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTask[0].bucket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.until)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bucket.TypeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TaskID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TaskID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
