@page
@model Canban.Pages.WorkGroups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkGroup.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkGroup.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkGroup.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkGroup.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkGroup.WorkGroupID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
